.download {
  .product__right {
    width: 100%;
    padding: 25px 0;
    padding-bottom: 0;

    &--title {
      padding: 0 20px;
    }
  }

  &__info {
    padding: 15px !important;

    a {
      @media (max-width: 765px) {
        flex-direction: column;
        align-items: unset !important;
      }

      img {
        @media (max-width: 765px) {
          margin-bottom: 10px;
        }
      }
    }

    &:nth-child(odd) {
      background-color: #fff;
    }

    h4 {
      font-size: 25px;
      margin-bottom: 0;

      @media (max-width: 765px) {
        margin-bottom: 20px;
      }
    }

    span {
      margin-left: 15px;
      @media (max-width: 765px) {
        margin-left: 0;
        margin-bottom: 10px;
      }
    }
  }
}
