.searchResult {
  &__breadCrumbs {
    padding-top: 50px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;

    a {
      position: relative;
      color: #be9c6b;
      font-size: 14px;

      &:not(:last-child) {
        margin-right: 20px;

        &:after {
          position: absolute;
          content: ">";
          right: -13px;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%);
        }
      }
    }
  }

  &__title {
    h1 {
      color: #303882;
      font-size: 40px;

      span {
        font-weight: bold;
      }
    }
  }

  &__content {
    margin-top: 40px;
    h4 {
      color: #303882;
      font-size: 20px;
      font-weight: bold;
    }

    p {
      font-size: 14px;
    }
  }
}
