.static {
  .productDetail__tabBox {
    margin-top: 30px;

    * {
      font-size: 18px;
    }
  }

  h4 {
    font-size: unset;
    line-height: unset;
  }

  .product__left {
    padding: 15px 0;
    background-color: #f7f9fb;

    a {
      padding: 5px 20px !important;
      color: #303882;
      border-bottom: 1px solid #e1e8f0;
    }

    @media (max-width: 992px) {
      margin-bottom: 20px;
      width: 100%;
    }
  }

  .product__right {
    @media (max-width: 992px) {
      width: 100% !important;
    }
  }

  .product__info {
    a {
      font-weight: bold;
      padding-bottom: 16px !important;
      padding-top: 16px !important;

      &.active {
        background-color: #303882;
        color: #fff !important;
      }
      transition: all 0.2s;

      &:hover {
        background-color: #303882 !important;
        color: #fff !important;
        transition: all 0.2s;
      }
    }

    @media (max-width: 992px) {
      display: flex;
      display: flex;
      flex-direction: row;

      width: 100%;
      overflow-x: scroll;
      white-space: nowrap;
    }
  }
}

.dialog-enter {
  opacity: 0.01;
  transform: scale(1.1);
}

.dialog-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: all 300ms;
}

.dialog-exit {
  opacity: 1;
  transform: scale(1);
}

.dialog-exit-active {
  opacity: 0.01;
  transform: scale(1.1);
  transition: all 300ms;
}
