.video {
  position: relative;
  margin-top: 60px;
  margin-bottom: 60px;

  @media (max-width: 992px) {
    margin-bottom: 30px;
  }

  &__title {
    display: flex;
    justify-content: center;
    margin-bottom: 59px;

    @media (max-width: 992px) {
      margin-bottom: 30px;
    }

    @media (max-width: 575px) {
      margin-bottom: 0;
    }

    h4 {
      font-size: 37px;
      color: #303882;

      @media (max-width: 992px) {
        font-size: 35px;
        margin-bottom: 25px;
        text-align: center;
      }

      @media (max-width: 765px) {
        font-size: 25px;
      }

      span {
        font-weight: bold;
        margin-right: 8px;
      }
    }
  }

  &__box {
    position: relative;
    height: 239px;
    display: flex;
  }

  &__left {
    width: 20%;
    height: 100%;
    background-color: #303882;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 50px;
    background-repeat: no-repeat;
    background-position: right top 22px;
    background-size: contain;

    @media (max-width: 992px) {
      display: none;
    }

    strong {
      margin-bottom: 0;
      font-size: 40px;
      color: #fff;

      @media (max-width: 1200px) {
        font-size: 25px;
      }
    }
  }

  &__right {
    position: relative;
    width: 100%;
    padding: 0 80px;

    @media(max-width:724px){
      padding: 0 32px;
    }

    .splide__arrow {
      background: #303882;
      opacity: 1;
    }

    .splide__arrow--prev {
      left: -3em;

      svg {
        fill: #ffff;
      }
    }

    .splide__arrow--next {
      right: -3em;

      svg {
        fill: #ffff;
      }
    }

    @media (max-width: 992px) {
      width: 100%;
    }
  }

  &__slideBox {
    height: 100%;
  }

  &__sliderItemLayer {
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    transition: 0.4s cubic-bezier(0.83, 0.27, 0.34, 0.57);
  }

  &__sliderItem {
    position: relative;
    height: 239px;
    width: 100%;
    overflow: hidden;
    transition: 0.4s cubic-bezier(0.83, 0.27, 0.34, 0.57);

    &:hover {
      > img {
        transform: scale(1.2);
        transition: 0.4s cubic-bezier(0.83, 0.27, 0.34, 0.57);
      }

      .video__sliderItemLayer {
        transition: 0.4s cubic-bezier(0.83, 0.27, 0.34, 0.57);
        opacity: 0;
      }

      .video__buttonBox {
        img {
          transition: 0.4s cubic-bezier(0.83, 0.27, 0.34, 0.57);
          transform: rotate(360deg);
        }
      }
    }

    img {
      transition: 0.4s cubic-bezier(0.83, 0.27, 0.34, 0.57);
      width: 100%;
      height: 100%;
    }
  }

  &__buttonBox {
    position: absolute;
    bottom: 25px;
    display: flex;
    background-color: transparent;
    border: none;
    padding: 0 15px;
    align-items: center;
    color: #fff;
    font-size: 21px;
    text-align: left;
    font-weight: bold;
    z-index: 2;

    @media (max-width: 1600px) {
      font-size: 18px;
    }

    @media (max-width: 575px) {
      width: 100%;
    }

    img {
      width: 35px;
      margin-right: 15px;
      transition: 0.4s cubic-bezier(0.83, 0.27, 0.34, 0.57);
    }
  }
}
