.product {
  margin: 30px 0;
  display: flex;
  align-items: flex-start;

  .home__cableLayout--item {
    opacity: 1 !important;
  }

  @media (max-width: 992px) {
    flex-direction: column;
  }

  .productCategory {
    // font-weight: bold;

    > a {
      font-weight: normal !important;
    }
  }

  .home__cableLayout {
    height: auto;
    height: 179px;
  }

  &__mobMenu {
    display: none;

    @media (max-width: 992px) {
      display: block;
    }

    svg {
      font-size: 25px;
    }

    margin-bottom: 15px;
  }

  &__closeMenu {
    position: absolute;
    right: 40px;
    top: 20px;

    @media (max-width: 575px) {
      right: 16px;
    }

    svg {
      font-size: 25px;
      color: #fff;
    }
  }

  &__mobInfo {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 555;
    background-color: rgb(48, 56, 130);
    display: block;
    overflow-y: scroll;
    transition: all 0.2s;
    transform: translateX(-150%);
    padding-top: 53px;

    .product__info {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding-left: 30px;
      margin-top: 6px;

      h4 {
        color: #fff !important;
      }

      a {
        color: #fff !important;
      }
    }
  }

  &__left {
    display: flex;
    flex-direction: column;
    // width: 16%;
    // height: 100vh;
    // overflow-y: scroll;
    padding: 15px 0;
    padding-top: 0;
    height: auto;

    // @media (min-width: 1032px) {
    //   position: sticky;
    //   left: 0;
    //   top: 0;
    //   float: left;

    // }

    @media (max-width: 1032px) {
      width: 100%;
      height: auto;
      overflow: unset;
    }

    @media (min-width: 992px) {
      background-color: #f7f9fb;
    }
  }

  &__right {
    // background-color: #f7f7f7;
    width: 84%;
    padding: 30px;
    min-height: 700px;
    padding-right: 0;
    padding-top: 0;

    @media (max-width: 992px) {
      width: 100%;
      padding: 20px;
      padding-left: 0 !important;
    }

    &--content {
      display: flex;
      flex-wrap: wrap;
      // margin-top: 25px;

      &__items {
        width: calc((100% / 3) - 47px);
        margin-bottom: 20px;
        margin-right: 70px;

        @media (max-width: 1600px) {
          width: calc((100% / 3) - 20px);
          margin-right: 20px;
        }

        @media (max-width: 1200px) {
          width: calc((100% / 2) - 10px);
        }

        @media (max-width: 992px) {
          width: 100%;
        }

        &:nth-child(3n) {
          margin-right: 0;

          @media (max-width: 1200px) {
            margin-right: unset;
          }
        }

        &:nth-child(odd) {
          @media (max-width: 1200px) {
            margin-right: 20px;
          }

          @media (max-width: 992px) {
            width: 100%;
            margin-right: 0;
          }
        }

        &:nth-child(even) {
          @media (max-width: 1200px) {
            margin-right: 0;
          }
        }
      }
    }

    &--title {
      img {
        @media (max-width: 575px) {
          width: 25px;
        }
      }

      h1 {
        font-size: 40px;
        color: #303882;
        font-weight: bold;
        margin-bottom: 25px;

        @media (max-width: 992px) {
          font-size: 25px;
        }

        @media (max-width: 575px) {
          font-size: 18px;
          text-align: center;
        }
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: column;

    a {
      transition: all 0.2s;
      padding-bottom: 16px !important;
      padding-top: 16px !important;

      &:hover {
        transition: all 0.2s;
        color: #fff !important;
        background-color: #303882;
      }
    }

    &--top {
      color: #303882;
      font-size: 15px !important;
      // margin-bottom: 14px !important;
      padding-left: 0 !important;
      font-weight: bold !important;
      text-transform: uppercase;
      position: relative;
      padding: 5px 15px !important;
      border-bottom: 1px solid #e1e8f0;

      &::after {
        position: absolute;
        content: attr(data-icon);
        right: 9px;
      }
    }

    div {
      display: flex;
      flex-direction: column;
      color: #303882;
      font-size: 14px;
      // padding-left: 15px;
      display: flex;
      flex-direction: column;

      span {
        margin-bottom: 11px;
      }

      &.active {
        color: #fff !important;
        font-weight: bold !important;
      }

      a {
        padding-left: 0;
        margin-top: 5px;
      }

      &:not(:last-child) {
        // margin-bottom: 12px;
      }
    }

    @media (max-width: 992px) {
      display: none;
    }

    &:not(:last-child) {
      // margin-bottom: 12px;
    }

    a {
      color: #303882;
      font-size: 14px;
      padding-left: 15px;
      display: flex;
      flex-direction: column;

      span {
        margin-bottom: 11px;
      }

      &.active {
        color: #808080 !important;
        font-weight: bold !important;
      }

      a {
        padding-left: 0;
        margin-top: 5px;
      }

      &:not(:last-child) {
        // margin-bottom: 12px;

        @media (max-width: 992px) {
          margin-bottom: 0;
        }
      }
    }
  }

  // product gallery end
  &__breadCrumbs {
    padding-bottom: 10px;
    padding-top: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: #303882;

    a {
      position: relative;
      color: #fff;
      font-size: 11px;
      text-transform: uppercase;

      &:not(:last-child) {
        margin-right: 20px;

        &:after {
          position: absolute;
          content: ">";
          right: -13px;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%);
        }
      }
    }
  }
}

.productDetail {
  .product__right--title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 765px) {
      flex-direction: column;
      align-items: unset;
    }

    h1 {
      margin-bottom: 0;
      max-width: 80%;

      @media (max-width: 765px) {
        text-align: left;
        margin-bottom: 15px;
      }
    }

    a {
      display: inline-flex;
      align-items: center;
      white-space: nowrap;
      color: #303882;

      img {
        margin-right: 15px;
      }
    }
  }

  &__imgBox {
    height: 308px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 33px;
    margin-bottom: 37px;
    padding: 0 20px;

    img {
      max-width: 100%;
    }
  }

  &__tabBox {
    .tab-content {
      padding: 46px 0px;
      padding-top: 0;
      background-color: #fff;


      iframe {
        width: 100%;
      }

      @media (max-width: 765px) {
        padding: 20px;
      }

      p {
        color: #303882;
      }
    }

    nav {
      margin-bottom: 41px;
      border-bottom: none !important;

      @media (max-width: 1100px) {
        white-space: nowrap;
        display: flex !important;
        flex-wrap: nowrap;
        max-width: 100%;
        overflow-x: scroll;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
      }

      a {
        position: relative;
        background-color: transparent !important;
        border: none !important;
        padding: 0;
        color: #303882;
        transition: all 0.4s cubic-bezier(0.63, 0.18, 0, 1.03);

        &:after {
          position: absolute;
          content: "";
          left: 0;
          bottom: -5px;
          width: 0%;
          height: 2px;
          background-color: #303882;
          transition: all 0.4s cubic-bezier(0.63, 0.18, 0, 1.03);
        }

        &:hover {
          &:after {
            transition: all 0.4s cubic-bezier(0.63, 0.18, 0, 1.03);
            width: 100%;
          }
        }

        &.active {
          color: #303882 !important;
          font-weight: bold;

          &:after {
            transition: all 0.4s cubic-bezier(0.63, 0.18, 0, 1.03);
            width: 100%;
          }
        }

        &:not(:last-child) {
          margin-right: 40px;
        }
      }
    }
  }
}

.showMenu {
  transform: translateX(0);
  transition: all 0.3s;
}

.showAll {
  display: block;
}

.onlyProduct {
  width: auto !important;
  min-width: 16%;
}

.openSub {
  // background-color: #303882;
  color: #303882 !important;
}

.openSubNext {
  position: relative;
  cursor: pointer !important;

  a {
    padding-left: 30px !important;

    &::after {
      position: absolute;
      content: attr(data-icon);
      right: 9px;
      transition: all 0.4s;
    }
  }

  span {
    position: relative;
    padding-left: 30px;

    &::after {
      position: absolute;
      content: attr(data-icon);
      right: 9px;
      transition: all 0.4s;
    }
  }
}

.animateDropDown {
  &:after {
    transition: all 0.4s;
    transform: rotate(90deg);
  }

  span {
    &:after {
      transition: all 0.4s;
      transform: rotate(90deg);
    }
  }
}

.parentsA {
  a {
    padding-left: 30px !important;
    padding-right: 30px;
  }
}
